---
import Layout from "../../layouts/Layout.astro";
import { getCollection, type CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const posts: CollectionEntry<"blog">[] = await getCollection("blog");

  return posts
    .filter((p) => !p.data.draft)
    .map((post) => ({
      params: { slug: post.slug },
      props: { post },
    }));
}

const { post } = Astro.props as { post: CollectionEntry<"blog"> };
const { Content } = await post.render();

---

<Layout title={`${post.data.title}`} description={post.data.description}>
  <section class="max-w-3xl mx-auto px-6 py-20">
    <a href="/blog/" class="text-white/70 hover:text-white">← Volver al Blog</a>
    
    <div class="prose prose-invert max-w-none mt-14">
      <p class=" text-white/80 text-sm text-right">
        {post.data.pubDate.toLocaleDateString("es-ES", { year: "numeric", month: "long", day: "2-digit" })}
      </p>
      <Content />
    </div>
  </section>
</Layout>
