---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const proyectos = await getCollection('projects');
  return proyectos.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={`${project.data.title} | Emanuel`} description={project.data.description}>
  <main class="bg-[#0a0709] min-h-screen pt-40 pb-20 text-white">
    <article class="max-w-4xl mx-auto px-6">
      <div class="prose prose-invert prose-green max-w-none prose-headings:italic prose-headings:font-black prose-p:text-white/60">
        <Content />
      </div>
    </article>
  </main>
</Layout>