---
const {
  gap = "gap-6",
  align = "items-start",
  stackAt = "md",
} = Astro.props;

const stackClass =
  stackAt === "xl"
    ? "grid-cols-1 xl:grid-cols-2"
    : stackAt === "lg"
      ? "grid-cols-1 lg:grid-cols-2"
      : "grid-cols-1 md:grid-cols-2";
---

<div class={`grid ${stackClass} ${gap} ${align}`}>
  <slot />
</div>
